=prefixed($property, $prefixes, $value...)
	@each $prefix in $prefixes
		#{$prefix}-#{$property}: $value
	#{$property}: $value

=user-select($value)
	+prefixed(user-select, -webkit -moz, $value)

=appearance($value)
	+prefixed(appearance, -webkit -moz, $value)

=progress-background-color($value)
	&::-webkit-progress-bar
		background-color: $value
	background-color: $value

html
	height: 100%

body
	overflow: auto
	min-height: 100%

.hidden
	display: none !important

/* long god-name fix */

#main_wrapper
	padding-top: 2.9em

#menu_bar
	position: absolute
	right: 0
	top: 0

.frInputArea textarea
	resize: vertical

.frDockCell.left .frMsgBlock
	left: -1px
	right: auto

.dockfr_close,
.dockfr_ppage,
.craft_button,
#informer_bar div,
.voice_generator,
.craft_button,
.inspect_button,
.div_link,
.div_link_nu,
.superhero .block_h,
	+user-select(none)

.chat_ph
	transform: rotate(180deg)

.msgDock.frDockCell
	transform: rotate(180deg)
	float: left

.ui_msg
	position: fixed
	top: 40px
	left: 0
	right: 0
	z-index: 301
	display: none
	padding-bottom: 0.7em

	body.th_nightly &
		color: #999

	.hint_bar_content
		padding: 0.5em 1em 0
		max-height: 400px
		overflow-y: auto

.hint_bar
	font-size: 90%
	text-align: center

.hint_bar_capt
	padding-bottom: 0.75em

.hint_bar_content ol
	margin: 0
	padding: 0 0 0 20px

.e_badge_pos
	right: 15px
	top: 2px
	cursor: default

	.block_h &:not(#pet_badge)
		display: none
	.block_h:hover &:not(#pet_badge)
		display: block

	.page_wrapper_5c &
		right: 16px

#equip_badge
	padding-left: 0.3em

#hero_block
	margin-bottom: 0 !important
	position: relative
	z-index: 300

.chronicle
	#left_block, #central_block, #right_block
		background: transparent

.gp_label
	width: auto
	line-height: 145%

.e_clock_inaccurate
	color: #CC0000

.voice_generator
	float: left
	margin-left: 0.3em

#arena_say_box a
	margin-left: 1em

#inventory
	text-align: center

	ul
		text-align: left

	.heal_item
		color: green

	.wanted_item
		color: goldenrod

/* make '@' bold on non-bold items, too */
.item_act_link_div
	&.div_link, &.no_link
		font-weight: bold

.craft_button
	padding: 0 0.2em

#logger
	width: 950px
	overflow-x: hidden
	white-space: nowrap
	margin: auto
	-webkit-mask-image: linear-gradient(to left, black 94%, transparent 100%)

	.page_wrapper_5c &
		-webkit-mask-image: linear-gradient(to left, black 96%, transparent 100%)

	li
		display: inline
		list-item-style: none

	.godpower
		color: #199bdc

	.exp,
	.supplies,
	.toek_m,
	.toek_f,
	.refdate,
		color: #f9b436

	.task
		color: pink

	.side_job
		color: #B51BE6

	.level
		color: red
		font-weight: bold

	.inv
		color: #882D17

	.hp
		color: green

	.gold
		color: #ffd700

	.monster,
	.pet,
		color: darkmagenta

	.death,
	.enemies,
		color: red

	.bricks
		color: goldenrod
		font-weight: bold

	.logs
		color: saddlebrown
		font-weight: bold

	.charges,
	.allies,
		color: blue

	.savings
		color: darkorange

	.push
		color: #fa8700

	.bits,
	.book_b,
		color: #76a7bf

	.bytes,
	.book_w,
		background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet)
		text-align: center
		background-size: 800% 800%
		-webkit-background-clip: text
		background-clip: text
		color: transparent
		animation: e_rainbow 8s ease infinite

		body.e_opera &
			background-image: none
			background-size: auto
			color: #bc3ffa
			animation: none

	display: block
	position: relative

@keyframes e_rainbow
	0%
		background-position: 0% 50%
	50%
		background-position: 100% 25%
	100%
		background-position: 0% 50%


#timeout_bar
	height: 3px
	width: 100%
	display: block
	position: fixed
	z-index: 302
	opacity: 0
	top: 0
	left: 0
	+user-select(none)

	body.th_nightly &
		background: chartreuse

	body:not(.th_nightly) &
		background: dodgerblue

	&.running
		opacity: 0.75
		width: 0
		transition: width 0s linear

#informer_bar
	display: block
	position: fixed
	top: 0px
	right: 0px
	z-index: 301
	pointer-events: none

	div
		float: right
		margin: 0.4em 0.4em 0 0
		padding: 0.1em 0.5em
		background: beige
		border: 1px solid orange
		border-radius: 2px
		cursor: pointer
		pointer-events: auto

		body.th_nightly &
			background: #757560
			color: #FFB835

#forum_informer_bar
	display: block
	top: 0px
	left: 0px
	z-index: 301
	pointer-events: none
	position: fixed
	overflow: auto
	height: 100%
	direction: rtl

	a
		float: left
		margin: 0.4em 0 0 0.4em
		padding: 0.1em 0.5em
		border: 1px solid
		border-radius: 6px 10.5px 10.5px 6px
		pointer-events: auto
		clear: both
		position: relative
		height: 23px
		width: 132px
		min-width: 132px
		max-width: 500px
		box-sizing: border-box
		direction: ltr
		margin-right: 20px
		text-decoration: none

		&:hover, &:visited, &:active
			text-decoration: none

		&:hover
			width: auto

		body.th_divine &
			background: #99D9EA
			border-color: #00A2E8
			color: #3F48CC

		body.th_nightly &
			background: #252525
			border-color: #555
			color: #999

		body.th_violet &
			background: #D29BD2
			border-color: #A349A3
			color: #808

		body.th_pink &
			background: #f9f
			border-color: #a0a
			color: #a0a

		body.th_emerald &
			background: #9BD29B
			border-color: #49A349
			color: #080

		body.th_yellow &
			background: #F4E9AF
			border-color: #A3A349
			color: #880

		body.th_classic &
			background: #D2D2D2
			border-color: #A3A3A3
			color: #555

		body.th_retro &
			background: #D2D2D2
			border-color: #A3A3A3
			color: #555
			border-radius: 0

	.fr_new_badge
		top: 2px
		right: 2px

	span
		display: inline-block
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		width: 100%

.msgDockWrapper
	pointer-events: none

	> *
		pointer-events: auto

.msgDock
	&.frbutton,
	.dockfrname,
		+user-select(none)

a
	cursor: pointer

a.inspect_button
	margin-left: 0.3em

.dockfrname_w
	height: 100%

#facebox
	z-index: 303

#facebox_overlay
	z-index: 302

/* conversion timer themes */

#imp_timer
	top: 2px
	left: 60px
	cursor: pointer
	white-space: nowrap

	&.green
		body.th_nightly &
			border-color: #040
			color: #040
			background-color: green

		body:not(.th_nightly) &
			border-color: darkgreen
			color: darkgreen
			background-color: lightgreen

	&.grey, &.darkgray
		body.th_nightly &
			border-color: #444
			color: #444
			background-color: darkgray

		body:not(.th_nightly) &
			border-color: gray
			color: gray
			background-color: lavender

	&.red
		body.th_nightly &
			border-color: #400
			color: #400
			background-color: darkred

		body:not(.th_nightly) &
			border-color: firebrick
			color: firebrick
			background-color: darksalmon

	&.yellow
		border-color: #df9900
		color: #af5900
		background-color: #fcedae

	&.blue
		border-color: #199bdc
		color: #199bdc
		background-color: #d9ecff

#trademode_timer
	top: 2px
	left: 25px
	cursor: default

/* fader svg moving away */

#fader
	position: fixed
	top: 0
	left: -9999px

/* dungeon phrases colorization */

#m_fight_log .bossHint
	.d_time, .d_msg
		color: darkgoldenrod

/* dungeon map colorization */

.dmc
	&.pointerMatched
		color: red

	&.pointerMatchedThermo
		color: darkorange

	&.map_pos
		&.pointerMatched, &.pointerMatchedThermo
			color: blue

/* not th_nightly theme */

body:not(.th_nightly) .dmc
	&.pointerMarker
		color: green

	&.bossHint
		background: #ffce09

	&.boss
		background: #fa8700

	&.bonusGodpower
		background: #c5e0f3

	&.bonusHealth
		background: #b9edbe

	&.trapUnknown
		background: #c173da

	&.trapTrophy,
	&.trapGold,
		background: #dee0c0

	&.trapLowDamage
		background: #e7afaf

	&.trapModerateDamage
		background: #cb555b

	&.trapMoveLoss
		background: #aaaaaa

	&.treasureChest
		background: #66cbff

	&.vault
		background: #3ecfbc

	&:not(.dmh)
		&.trapTrophy.trapModerateDamage
			background: linear-gradient(135deg, #dee0c0 0%, #dee0c0 50%, #cb555b 50%, #cb555b 100%)

		&.bossHint
			&.bonusGodpower
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #c5e0f3 50%, #c5e0f3 100%)

			&.bonusHealth
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #b9edbe 50%, #b9edbe 100%)

			&.trapUnknown
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #c173da 50%, #c173da 100%)

			&.trapTrophy,
			&.trapGold,
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #dee0c0 50%, #dee0c0 100%)

			&.trapLowDamage
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #e7afaf 50%, #e7afaf 100%)

			&.trapModerateDamage
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #cb555b 50%, #cb555b 100%)

			&.trapMoveLoss
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #aaaaaa 50%, #aaaaaa 100%)

			&.treasureChest
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #66cbff 50%, #66cbff 100%)

			&.vault
				background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #3ecfbc 50%, #3ecfbc 100%)

		&.boss
			&.bonusGodpower
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #c5e0f3 50%, #c5e0f3 100%)

			&.bonusHealth
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #b9edbe 50%, #b9edbe 100%)

			&.trapUnknown
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #c173da 50%, #c173da 100%)

			&.trapTrophy,
			&.trapGold,
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #dee0c0 50%, #dee0c0 100%)

			&.trapLowDamage
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #e7afaf 50%, #e7afaf 100%)

			&.trapModerateDamage
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #cb555b 50%, #cb555b 100%)

			&.trapMoveLoss
				background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #aaaaaa 50%, #aaaaaa 100%)

/* th_nightly theme */

body.th_nightly .dmc
	&.pointerMarker
		color: limegreen

	&.bossHint
		background: #d3ae00

	&.boss
		color: #777
		background: #ff9f07

	&.bonusGodpower
		background: #2d546f

	&.bonusHealth
		background: #2f6c37

	&.trapUnknown
		background: #62317c

	&.trapTrophy,
	&.trapGold,
		background: #6c6d4e

	&.trapLowDamage
		background: #8b5d5d

	&.trapModerateDamage
		background: #9d1515

	&.trapMoveLoss
		background: #5c5c5c

	&.treasureChest
		background: #3e9ecf

	&.vault
		background: #0c9a81

	&:not(.dmh)
		&.trapTrophy.trapModerateDamage
			background: linear-gradient(135deg, #6c6d4e 0%, #6c6d4e 50%, #9d1515 50%, #9d1515 100%)

		&.bossHint
			&.bonusGodpower
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #2d546f 50%, #2d546f 100%)

			&.bonusHealth
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #2f6c37 50%, #2f6c37 100%)

			&.trapUnknown
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #62317c 50%, #62317c 100%)

			&.trapTrophy,
			&.trapGold,
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #6c6d4e 50%, #6c6d4e 100%)

			&.trapLowDamage
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #8b5d5d 50%, #8b5d5d 100%)

			&.trapModerateDamage
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #9d1515 50%, #9d1515 100%)

			&.trapMoveLoss
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #5c5c5c 50%, #5c5c5c 100%)

			&.treasureChest
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #3e9ecf 50%, #3e9ecf 100%)

			&.vault
				background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #0c9a81 50%, #0c9a81 100%)

		&.boss
			&.bonusGodpower
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #2d546f 50%, #2d546f 100%)

			&.bonusHealth
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #2f6c37 50%, #2f6c37 100%)

			&.trapUnknown
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #62317c 50%, #62317c 100%)

			&.trapTrophy,
			&.trapGold,
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #6c6d4e 50%, #6c6d4e 100%)

			&.trapLowDamage
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #8b5d5d 50%, #8b5d5d 100%)

			&.trapModerateDamage
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #9d1515 50%, #9d1515 100%)

			&.trapMoveLoss
				background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #5c5c5c 50%, #5c5c5c 100%)

/* dialog box-shadows */

.ui_msg
	body.th_nightly &
		box-shadow: 2px 2px 15px #fff

	body:not(.th_nightly) &
		box-shadow: 2px 2px 15px #000

/* shovel */

#hk_gold_we .voice_generator
	&:not(.shovel)
		background-size: 0 0
		background-repeat: no-repeat

	&.shovel
		font-size: 0
		line-height: 0
		height: 13px
		width: 13px
		margin: 4px 0 0 3px

		&.compact
			margin: 4px -4px 0 0

.shovel
	body:not(.th_nightly) &
		background-position: 0px 0px

		&:hover
			background-position: 13px 0px

	body.th_nightly &
		background-position: 0px 13px

		&:hover
			background-position: 13px 13px

/* map legend */

.guip_legend
	margin-bottom: 10px

	.dmc
		margin-right: 5px

/* inventory fullness and health marks in non-battle modes, also marks for explosive, summoning and sneaky bosses */

body.field #hk_inventory_num .p_bar,
body.has_temple.field #hk_health .p_bar,
body.boss_sneaky #o_hl1 .p_bar,
body.boss_explosive #o_hl1 .p_bar,
body.boss_summoning #o_hl1 .p_bar,
body.boss_explosive #hk_health .p_bar,
	position: relative

body.field #hk_inventory_num .p_bar
	&:before, &:after
		content: " "
		height: 100%
		position: absolute
		width: 2px

body.has_temple.field #hk_health .p_bar:before,
body.boss_sneaky #o_hl1 .p_bar:before,
body.boss_explosive #o_hl1 .p_bar:before,
body.boss_summoning #o_hl1 .p_bar:after,
body.boss_explosive #hk_health .p_bar:before,
	content: " "
	height: 100%
	position: absolute
	width: 2px

body:not(.th_nightly)
	&.field #hk_inventory_num .p_bar
		&:before, &:after
			background: #ccc

	&.has_temple.field #hk_health .p_bar:before,
	&.boss_sneaky #o_hl1 .p_bar:before,
	&.boss_explosive #o_hl1 .p_bar:before,
	&.boss_summoning #o_hl1 .p_bar:after,
	&.boss_explosive #hk_health .p_bar:before,
		background: #ccc

body.th_nightly
	&.field #hk_inventory_num .p_bar
		&:before, &:after
			background: #555

	&.has_temple.field #hk_health .p_bar:before,
	&.boss_sneaky #o_hl1 .p_bar:before,
	&.boss_explosive #o_hl1 .p_bar:before,
	&.boss_summoning #o_hl1 .p_bar:after,
	&.boss_explosive #hk_health .p_bar:before,
		background: #555

body.field #hk_inventory_num .p_bar
	&:before
		left: 33%

	&:after
		left: 50%

body.has_temple.field #hk_health .p_bar:before
	left: 67%

body.boss_sneaky #o_hl1 .p_bar:before
	left: 26%

body.boss_summoning #o_hl1 .p_bar:after
	left: 64%

body.boss_explosive
	#hk_health .p_bar:before
		left: 29%

	#o_hl1 .p_bar:before
		left: 30%

a.broadcast
	font-weight: bold
	font-size: 80%
	vertical-align: top
	margin-left: 0.3em

/* clear voice input button */

.gvl_popover
	right: 0
	bottom: 0
	width: 23px
	height: 29px
	padding-left: 4px
	line-height: 29px
	margin-right: 0

#clear_voice_input
	padding-left: 0
	right: 27px
	width: 15px

#godvoice
	padding-right: 40px

/* relocated duel buttons styles */

.guip.p_group_sep
	display: none

	.chf_link_wrap ~ &,
	.arena_link_wrap ~ &,
		display: block

#pantheons
	.chf_link_wrap,
	.arena_link_wrap,
		padding-top: 0

#msgcustom_informers_errors li
	margin: 0.7em 0

.e_custom_informer_text
	font-family: monospace
	font-size: 1.09em

.e_custom_informer_error
	font-weight: bold

.debug_mode_warning
	color: red

#msgerror ol,
#error_details,
	text-align: left

.crb_inactive
	color: darkgray

	&:hover
		color: #da251d

div.edst_tline
	.l
		float: left

	.r
		float: right
		padding-right: 20px

	.c
		float: none
		text-align: center

	&.e_current_town .l
		font-weight: 700

	body.th_nightly &
		&.e_shifted_town
			background-color: #5B5B5B

			&:hover
				background-color: #6A6A6A

	body:not(.th_nightly) &
		&.e_shifted_town
			background-color: #E0E0E0

			&:hover
				background-color: #D3D3D3

div.edst_towns
	overflow: auto
	max-height: 400px

div.edst_headline
	line-height: 25px
	text-align: center
	border-bottom: 1px solid silver

div.edst_headline_active
	cursor: pointer

div.edst_header
	cursor: pointer
	border-bottom: 1px dashed silver

div.edst_header_active
	color: rgb(220, 20, 20)

#chf_popover_c > div
	&::before
		content: '[x]'
		font-size: x-small
		width: 20px
		display: inline-block
	&.chfp::before
		content: '[✓]'
	&.chfp::after
		content: ''
	&:hover .e_chfr
		display: inline-block !important
	.e_chfr
		display: none !important
		position: absolute
		right: 0
		top: 0
		padding: 7px 5px
		background-color: inherit
		.div_link
			text-decoration: none
			font-size: x-small
			margin-right: 3px

span.ally_blacklisted
	font-weight: 500
	color: black

#lf_popover_c
	.wl_line
		min-width: 300px

	.wl_ftype
		right: 30px
		min-width: 170px

		span
			position: absolute

	.e_fight_result
		position: absolute
		top: 20%
		right: 22px
		cursor: default

	.e_fight_result_exp
		top: 15%
		right: 20px
		font-size: 1.1em
		color: goldenrod

	.e_fight_result_log
		top: 5%
		right: 21px
		font-size: 1.3em
		color: saddlebrown

	.e_fight_result_byte
		color: #00639E

	.e_fight_result_unknown
		right: 23px

#cntrl .pbar .gpbw
	position: static

body:not(.dungeon) #cntrl .voice_generator.mnemonics
	display: none

.map_exit_pos_ru,
.map_exit_pos_en,
	color: transparent

	&::before
		display: block
		text-align: center
		color: #555

		body.th_nightly &
			color: #999

.map_exit_pos_ru::before
	content: 'B'

.map_exit_pos_en::before
	content: 'E'

#dmap, #map
	+user-select(none)

#dmap div.dml div.dmc.dtrace
	background: rgba(0, 220, 0, 0.7)

.dmapDimensions
	font-size: xx-small
	margin-left: 0.3em

div.new_line.dtrace
	background: rgba(32, 232, 32, 0.4)

.trace_div
	margin-top: 2px
	text-align: center

.trace_button
	margin-left: 3px
	width: 21px
	height: 21px
	padding: 0 !important

	img
		height: 12px
		width: 12px

.trace_buttons
	margin: 3px 0 0 2px
	white-space: nowrap
	display: inline-block

#trace_progress
	max-width: 100%

	/* for ms edge */
	cursor: pointer

#e_streaming
	text-align: center

	.e_cancel
		text-decoration: none

/* disable zooming when double touching */
.e_no_double_tap
	touch-action: manipulation

g.e_visited text
	opacity: 0.33

g.e_unknown polygon
	fill: hsla(60, 10%, 85%, 0.3)
	stroke: inherit

g.epl
	&.e_hint line
		pointer-events: none

	&.e_hint polyline,
	&.e_hint polygon,
		pointer-events: none
		fill: none

	body:not(.th_nightly) &
		&.e_hint_t1 polygon,
		&.e_hint_t4 polyline,
			stroke: green

		&.e_hint_t2 polygon,
		&.e_hint_t5 line,
			stroke: #199BDC

		&.e_hint_t3 polygon
			stroke: red

	body.th_nightly &
		&.e_hint_t1 polygon,
		&.e_hint_t4 polyline,
			stroke: #08B508

		&.e_hint_t2 polygon,
		&.e_hint_t5 line,
			stroke: #17B2FF

		&.e_hint_t3 polygon
			stroke: #F11

div.dmc, g.tile
	&.e_clickable
		cursor: pointer

#s_map,
#sail_map,
	svg:not(.e_expanded)
		padding: 5px 10px

svg g.tile
	&.hovered polygon
		stroke-width: 1.0
		stroke: hsl(0, 0%, 50%)

	&.unknown.hovered polygon
		fill: hsla(60, 10%, 90%, 0.1)
		stroke: hsl(0, 0%, 70%)

	body:not(.th_nightly) &
		&.e_hint polygon
			stroke: green
			stroke-width: 0.95

		&.e_hint_r polygon
			stroke: red
			stroke-width: 0.85

		&.e_hint_p polygon
			stroke: #199BDC
			stroke-width: 0.85

	body.th_nightly &
		&.e_hint polygon
			stroke: #0F0
			stroke-width: 1

		&.e_hint_r polygon
			stroke: #F11
			stroke-width: 1

		&.e_hint_p polygon
			stroke: #17B2FF
			stroke-width: 1

	&, &.rb:not(:hover), &.imp
		&.e_border polygon
			fill: hsla(200, 40%, 70%, 0.5)

	&, &.rb, &.imp
		&.e_border_n polygon
			fill: hsla(53, 69%, 78%, 0.5)

	&.e_treasure_hover polygon
		fill: #FFC430 !important

	&.e_poi
		&.e_poi_hover polygon
			fill: hsla(200, 75%, 50%, 0.75)

			&:hover
				fill: hsla(200, 75%, 50%, 0.75) !important

		polygon
			stroke-width: 1.75

		body &
			&.e_poi_c0 polygon
				stroke: #003CFF

			&.e_poi_c1 polygon
				stroke: #EE7145

			&.e_poi_c2 polygon
				stroke: #FFB90F

			&.e_poi_c3 polygon
				stroke: #A15835

			&.e_poi_c4 polygon
				stroke: #986EFF

			&.e_poi_c5 polygon
				stroke: #71C39A

			&.e_poi_c6 polygon
				stroke: #DE00FF

			&.e_poi_c7 polygon
				stroke: #040B39

			&.e_poi_c8 polygon
				stroke: #77EE4D

			&.e_poi_c9 polygon
				stroke: #C90077

span.e_low_steps
	text-decoration: line-through

span.e_low_supplies
	color: red

span.e_smonster
	border-bottom: 1px dashed darkgray

	+ sup
		white-space: nowrap

span.e_smonster_tre
	font-weight: 700

span.e_beareport a
	text-decoration: none
	font-size: 0.80em

.e_sailing_controls
	text-align: center

.e_option_box
	margin-bottom: 0.4em

#e_ruler_button
	border-radius: 4px
	cursor: pointer

	&.active
		border: 2px solid #07F

body.sail #e_ruler_button
	position: absolute
	top: 0
	left: 25px
	font-size: 1.1em

	&:hover
		color: #DA251D

body.chronicle
	.e_ruler_button_wrap
		margin: 5px 0
		text-align: center
		font-size: 1.8em

	#e_ruler_button:hover
		background-color: #9CF

	#wrap > #fight_chronicle .d_content
		overflow-y: auto
		clear: both

body:not(.th_nightly) #e_ruler_button,
body.chronicle.th_nightly #e_ruler_button:hover,
	color: #000

svg g.tile.e_ruler_anchor
	polygon,
	polygon:hover,
	&.e_poi polygon,
		stroke: #333
		stroke-width: 1.5

#e_ruler
	pointer-events: none
	stroke: #555

#e_ruler_arrow
	fill: #555

.e_ruler_tooltip
	pointer-events: none

	ellipse
		fill: #F0F8FF
		fill-opacity: 0.8

	text
		fill: #000
		font-size: 0.9em
		text-anchor: middle

#wakelock_switch
	display: block
	position: fixed
	bottom: 0px
	left: 0px
	z-index: 301
	margin: 0 0 0.4em 0.4em
	padding: 0.1em 0.5em
	opacity: 0.3
	background: beige
	border: 1px solid orange
	border-radius: 5px
	cursor: pointer
	font-size: large

	&.wakelock_enabled
		opacity: 1.0

#user_css_form
	display: none

	textarea
		margin: 5px
		width: 30em
		height: 6em

#optdimmer
	background: #000
	position: fixed
	width: 100%
	height: 100%
	opacity: 0.5
	top: 0
	z-index: 10099

#optlightbox
	visibility: hidden
	position: absolute
	z-index: 10100

	&.expanded
		padding-bottom: 2.2em

	fieldset
		height: 90%

#lightbox_desc
	margin-top: 15px
	margin-left: 10px
	text-align: left

#lightbox_table
	overflow-Y: scroll
	margin: 0 0 5px 0

#lightbox_ieblock
	padding-top: 0.4em
	width: 95%

.lightbox_row input
	vertical-align: middle

.lightbox_opt_desc
	font-style: italic
	border-bottom: 1px dashed gray
	cursor: pointer

/* gear */
.e_t_icon
	.block_h &
		display: none

	.block_h:hover &
		display: inline

	position: absolute
	margin-left: 3px
	/* bring on top when it overlaps with other controls (e.g., in battle modes) */
	z-index: 1

	body.th_nightly &
		color: #bfbfbf

	body:not(.th_nightly) &
		color: #e8e8e8

body.th_nightly
	.wup-inner,
	.bl_content,
	&.chronicle,
		input[type=text],
		input:not([type]),
			background-color: #4B4B4B
			border-color: #777
			color: #DDD

		input[type=checkbox]
			filter: invert(1) brightness(1.7)

		button,
		input[type=button],
		input[type=submit],
			background: linear-gradient(#444, #222)
			color: #CCC
			border: 1px solid #555
			border-radius: 1px
			padding: 1px 6px

			&:active
				background: linear-gradient(#2A2A2A, #383838)

			&:disabled
				background: linear-gradient(#2A2A2A, #101010)
				color: #888

/* Opera has its own awesome progress bar, and it's not fully configurable anyway */
body.th_nightly:not(.e_opera)
	.wup-inner,
	.bl_content,
	&.chronicle,
		progress[value]
			+appearance(none)
			border: 1px solid #C0C0C0
			border-radius: 1px
			+progress-background-color(#AAA)

			/* must not join specifics for different browsers with a comma. they resent */
			&::-webkit-progress-value
				background-color: #0A900A
				border-radius: 2px
			&::-moz-progress-bar
				background-color: #0A900A
				border-radius: 2px
			color: #0A900A

.e_new_line
	text-align: center
	clear: both
	padding: 5px
	width: 95%

.e_bl_cell
	border-radius: 5px
	border: 1px solid #ddd
	padding: 4px 4px 4px 4px
	line-height: 145%

.e_dragging
	cursor: move
	margin-right: 5px

.esubs_content
	max-height: 500px
	width: 800px

.esubs_line
	min-height: 20px
	border-top: 1px solid #DDDDDD
	padding: 0.5em

	img
		vertical-align: middle
		width: 16px

	img.green
		background-color: #0c0

	img.grey
		body.th_nightly &
			background-color: #666
		body:not(.th_nightly) &
			background-color: #ccc

	div
		padding: 0 5px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		display: inline-block
		line-height: 20px
	.title
		width: 65%
		float: left
	.options
		padding: 0
		float: right
	.info
		width: 25%
		float: right
		font-size: x-small

	.c
		display: block
		text-align: center
	.info a,
	.c a,
		text-decoration: none

.e_tooltip
	position: absolute
	border: 1px solid black
	background: #FFF
	padding: 3px
	font-size: 0.8em
	z-index: 500

.e_current_boss
	font-weight: 700

.e_new_part
	font-weight: 700
	color: green

.e_match_part
	text-decoration: underline

.e_selected_town circle
	fill: #ff4500

.chronicle #update
	vertical-align: middle

.chronicle .e_icon
	font-size: 12px
	cursor: pointer
	text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey
	padding-left: 2px
	padding-right: 2px

.chronicle .e_box
	margin-top: 20px
	border-radius: 6px
	border: 1px solid #CCC
	position: relative
	box-shadow: 0px 0px 5px #C0C0C0
	background: #F5F5F5 -webkit-gradient(linear, left top, left 60, from(#F6F8F9), to(#F7F7F7), color-stop(0.5, #E7E7E7), color-stop(0.5, #F9F9F9))
	background: #F5F5F5 -moz-linear-gradient(top, #F7FBFE, #E7E7E7 31px, #F9F9F9 31px, #F7F7F7)
	background: #F5F5F5 -o-linear-gradient(top, #F7FBFE, #E7E7E7 31px, #F9F9F9 31px, #F7F7F7)
	background-color: #FAFAFA

body.edge
	&.chronicle
		&.th_nightly
			.ctbg
				background-image: none
				background-color: rgb(71, 71, 71)
		&:not(.th_nightly)
			.box
				background: #F5F5F5 -webkit-linear-gradient(top, #F7FBFE, #E7E7E7 31px, #F9F9F9 31px, #F7F7F7)
	.hint_bar
		background: #FFFEF4 -webkit-linear-gradient(top, #FEFFDD, #EFE8B0 31px, #FDFFF4 31px, #FFFEE4)
	&.th_classic
		.block, .msgDock, .frbutton_pressed, .wup-title
			background: #F5F5F5 -webkit-linear-gradient(top, #F7FBFE, #E7E7E7 31px, #F9F9F9 31px, #F7F7F7)
	&.th_divine
		.block, .msgDock, .frbutton_pressed, .wup-title
			background: #FFFEF4 -webkit-linear-gradient(top, #DDF3FF, #C4DCEF 31px, #E3F1F9 31px, #F4F8FF)
